<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  	<parameter name="ExcelUrl" value="C:\\Users\\Sagor\\eclipse-workspace\\"></parameter>
  	<parameter name="loginFile" value="datadriven.xlsx"></parameter>
    <classes>
      <class name="com.datadriven.demoOne.ReadWriteExcel"/>
      <class name="com.datadriven.learnVern.DataDrivenExample"/>
      <class name="com.datadriven.loginTestCases.DataDrivenLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
